*{
  padding: o;
  margin: o;
  font-family: Poppins,  Actor, Adamina;
}
/*-----head section------*/
#header{
  background-image: url("./images/moving\ 1.png");
  background-size: cover; 
  background-position: center center;
  height:70vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
#header nav{
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;

}
#header nav li{
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  list-style: none;

}
#header nav ul li a {
  color: white;
  text-decoration: none;
  align-items: center;
}

 .log-1{  
  background-color: #FAFF00;
  

}
.log-2{
 background-color:black;

}
#header .text{
 
}
#header .text h1{
  color: #FAFF00;
  font-size: 43px;
font-weight: lighter;
 }
 #header .text h2{
  color: wheat;
  font-size: 25px;
font-weight: lighter;
word-spacing: 2px;
 }

 /*----section 2----*/
 #head-2 .head{
  display: flex;
  justify-content: space-between;
}
#head-2 .head .content{
  width: 60%;
 padding-right: 250px;
 margin-top: 120px;

}
#head-2 .head .image{
 width: 40%;
 margin-top: 50px;
 
}
#head-2 .head .image img{
 height: 400px;
 width:  400px;
 align-items:left;
 
}
#head-2 .head .content .line{
 width: 40%;
 margin-left: 12px;
 margin-right: auto;
 border: 2px solid #f3904f;
 
}

#head-2 .head .content p{
  color:darkslategrey;
  font-size: 22px;
 
}
#head-2 .head .content h1{
  font-size: 45px;
 
}
#head-2 .head .content a{
  background-color: black;
  display: inline-block;
  text-decoration: none;
  color: #FAFF00;
  padding: 12px 34px;
  border-radius: 0px 8.5px 0px 0px;
  position: relative;
  cursor: pointer; 
}

/*----section 3---*/
#movers{
  height: 90vh;
  background-color: silver;
}
#movers .title {
  margin-left: 100px;
  margin-right: 1070px;
  margin-top: 75px;
  }
 
#movers .title  .line{
  width: 100%;
  border: 2px solid #f3904f;

 }
 #movers .title  h1{
 font-size: 45px;
  
 }
 

table.pic {
  table-layout: fixed;
  width: 100%;
  display: table-cell;
  }
  table.pic .even img {
    max-width: 100%;
    height: auto;
    width: 200px;
    }
  
  table.pic td {
  border: 1px solid black;
  }
  table.pic  h2{
   text-align: center;
    }
  

  