*{
  padding: o;
  margin: o;
  font-family: Poppins,  Actor, Adamina;
}
/*-----head section------*/
#header{
background-color: black;
  height:40vh;
  justify-content: center;
  align-items: center;
 
}

#header nav{
  justify-content: left;
  align-items: left;
  margin-bottom: 170px;
  margin-left: 300px;

}
#header nav ul li  {
  display: inline-block;
  align-items: left;
  justify-content: space-between;
  padding: 30px;
  list-style: none;
  text-decoration: none;
 
}
#header nav ul li a {
  color: white;
  text-decoration: none;
}
#header nav   .btn{
  color: black;
  display: inline-block;
  text-decoration: none;
  background-color: #ff7200;
  padding: 12px 34px;
  border-radius: 0px 8.5px 0px 0px;
  position: relative;
  cursor: pointer; 
}

  #header .below{
    display: flex;
    justify-content: left;
    justify-content: space-around;
    padding: 20px;
  }
  
   #header .below .text{
     margin-top: -100px;
     color: white;
    
    } 
    #header .below h1{
      font-size: 35px;
     
     } 
     #header .below h2{
      font-size: 15px;
      font-weight: lighter;
     
     } 
     #header .below .dollar{
      margin-top: -100px;
      color: white;
     
     } 
     #header .below .dollar1{
       font-size: 35px;
      
      } 
      #header .below dollar-2{
       font-size: 15px;
       font-weight: lighter;
      
      }
      /*----tables--*/ 
     
      
      .content-table table {
        table-layout: fixed;
        width: 200px;
        width: 100%;
        padding: 15px;
        background-color: white;
      }
      
      
      th,
      td {
        width: 100px;
        overflow: hidden;
        text-align: left;
      }
      /*---main---*/
      
      #main .forming{
        display: flex;
      }
      .form{
        background-color: white;
        
        width: 350px;
        height: 670px;
        position: absolute;
        top: 450px;
        left: 1320px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }
    
    .form h2{
      background-color: silver;
        width: 300px;
        font-family: sans-serif;
        text-align: center;
        color: black;
        font-size: 25px;
        border-radius: 10px;
        margin: 2px;
        padding: 18px;
    }
    
    .form input{
        width: 340px;
        height: 85px;
        background: transparent;
        border: 1px solid gray;
        color:black;
        border-radius: 7px;
        font-size: 25px;
        letter-spacing: 1px;
        margin-top: 30px;
        align-items: center;
    }
    
    
    
    .btnn{
        width: 330px;
        height: 40px;
        background: black;
        border: none;
        margin-left: 12px;
        margin-top: 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color:#ff7200;
        padding: 32px;
        align-items: center;
  
    }
    .btnn:hover{
        background: #fff;
        color: #ff7200;
    }
    .btnn a{
        text-decoration: none;
        color:white;
        font-weight: bold;
    }
    .form .link{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        padding-top: 20px;
        text-align: center;
    }
    .form .link a{
        text-decoration: none;
        color: #ff7200;
    }
      /*----movers---*/
      #movers .media .movers-pic{
        display: flex;
        justify-content: space-between;
        border-spacing: 50px;
       padding: 200px;
       margin-top: -200px;
      
      }
      #movers .media .movers-pic .pictures .even img{
        
         width: 100%;
        display: block;
        
      }
      #movers .media .movers-pic .pictures #odd img{
      
       max-height: fit-content;
      
        
      }
      
      #movers .media .movers-pic .pictures .pic{
         border-collapse: collapse;
         table-layout: fixed;
         width: 100%;
        display: table-cell;
      }
      
     /*---- content-table-2*----*/
     #main{
       background-color: silver;
     }
     #main .content-table-2{
    background-color:white;
    width: 30%;
    border-radius: 9px;
    height: 60vh;
    margin: 50px 12px;
    text-align: left;
     }
     #main .content-table-2 h2{
      padding: 30px;
       }
       #main .content-table-2 hr{
       margin-top:-20px;
         }
         #main .content-table-2 p{
          font-size: 20px;
          padding: 10px;
           }
 /*---- content-table-3----*/
 #main .content-table-3{
  background-color:white;
  width: 30%;
  border-radius: 9px;
  height: 50vh;
  margin: 10px 12px;
  text-align: left;
  
  
   }
   #main .content-table-3 .list {
    display: flex;
    margin: 50px 12px;
    text-align: left;
     }
     #main .content-table-3 .list ul li{
      list-style: none;
      padding: 9px;
       }
     #main .content-table-3 hr{
     margin-top:0px;
       }
       #main .content-table-3 h2{
        padding: 50px;
         }


    /*----similar listing---*/
#movers{
  margin-top: -149px;
  height: 90vh;
  background-color: silver;
}
#movers .title {
  margin-left: 100px;
  margin-right: 1070px;
  margin-top: 75px;
  }
 
#movers .title  .line{
  margin-bottom: 110px;
  width: 40%;
  border: 2px solid silver;

 }
 #movers .title  h1{
 font-size: 45px;
  
 }
 

table.pic {
  table-layout: fixed;
  width: 100%;
  display: table-cell;
  }
 
  table.pic td {
  border: 1px solid black;
  }
  table.pic  h2{
   text-align: center;
    }
    

   /*-----footer-----*/

.footer {
  background-color: black;
  opacity: 0.9;
  margin-top: -76px;
  }
  hr{
  
  margin-left: 12px;
  margin-right: auto;
  margin-top:150px ;
  color: dark;
  }
  .footer .credit {
    text-align: left;
    margin-top: 4.5rem;
    padding: 3.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #fff;
  }
  span{
    color: #ff7200;
  }
 
  
  .footer .box-container {
    display: -ms-grid;
    display: flex;
    justify-content:space-around;
    padding: 72px;
  }
  .footer .btn{
    color: black;
    display: inline-block;
    text-decoration: none;
    background-color: #ff7200;
    padding: 12px 34px;
    border-radius: 0px 8.5px 0px 0px;
    position: relative;
    cursor: pointer;
    
  }
  .container{
    text-align: right;
    margin-top: -9.5rem;
    padding: 7rem;
    padding-top: 0.5rem;
    
    
  }

 footer .box-container .box h3 {
    font-size:  15px;
    padding: 1.8px;
    color: white;
  }
  
  .footer .box-container .box a {
    display: block;
    font-size: 0.8rem;
    color: #fff;
    text-decoration: none;
  }
  
  .footer .box-container .box a i {
    color: white;
    padding: 19px;
    font-size: 32px;
    
   
  }
  .footer .box-container #icons {
    display: flex;
    margin: 16px;
    
  }
  